* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --verdeAgua: #A7C5BD;
    --creme: #E5DDCB;
    --salmon: #EB7B59;
    --vermelho: #CF4647;
    --roxoEscuro: #524656;

}

/* @media screen and (max-width: 480px) { */

    header {
        width: 100vw;
        height: 200px;
        background-image: url("../../assets/img/quadrinhos.jpg");
        background-size: cover;
        opacity: 0.2;
        background-repeat: no-repeat;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: auto;
        align-items: center;

        grid-gap: 0 20px;
        grid-row-gap: 40px;
    }

    .main-home {
        display: flex;
        flex-direction: column;

        gap: 50px;
        padding: 40px;
    }

    .busca > form {
        display: flex;
        justify-content: center;
    }

    .busca > form > input {
        width: 200vw;
        height: 30px;

        border-radius: 5px;
        position: relative;

        background-color: var(--creme);
        border: none;
    }

    input::placeholder {
        padding-left: 15px;
        color: #000000;
    }

    .busca > form > button {
        width: 18px;
        position: absolute;
        top: 247px;
        right: 50px;

        background-color: transparent;
        border: none;
    }
    
/* } */